@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --primary: #001524;
  --secondary: #1d253e;
  --white: #f1f2fd;
  --accent: #e02850;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary);
  color: var(--white);
}
