.hero {
  background: var(--white);
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.hero > .logo {
  margin: 0;
  color: var(--primary);
  text-shadow: 1px 5px 0px var(--accent);
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  display: flex;
  gap: 1.5rem;
}

.hero > .logo > span {
  --animation-duration: 5s;
  --animation-delay: 10s;
}
.hero > .logo > span:nth-child(1) {
  animation: move1 var(--animation-duration) forwards infinite;
  animation-delay: var(--animation-delay);
}
.hero > .logo > span:nth-child(2) {
  animation: move2 var(--animation-duration) forwards infinite;
  animation-delay: var(--animation-delay);
}
.hero > .logo > span:nth-child(3) {
  animation: move3 var(--animation-duration) forwards infinite;
  animation-delay: var(--animation-delay);
}

.hero > .hero_sub {
  width: 40%;
  text-align: center;
  color: var(--primary);
}

@keyframes move1 {
  0% {
    order: 0;
  }
  50% {
    order: 1;
  }
  100% {
    order: 2;
  }
}
@keyframes move2 {
  0% {
    order: 1;
  }
  50% {
    order: 2;
  }
  100% {
    order: 0;
  }
}
@keyframes move3 {
  0% {
    order: 2;
  }
  50% {
    order: 0;
  }
  100% {
    order: 1;
  }
}

.main {
  padding: 1.75rem 4.125rem;
}
.main > .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;
}
.posts_container > .post_card {
  flex: 1;
  text-decoration: none;
}
.posts_container > .post_card > div {
  height: 100%;
}
