.reply_card {
  width: inherit;
  border: 1px solid rgba(240, 248, 255, 0.322);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  display: grid;
  grid-template-columns: repeat(1fr, 2);
}

.reply_card > .reply_text {
  font-size: 1.1rem;
  grid-column: 1/3;
}
.reply_card > .reply_from {
  justify-self: flex-start;
}
.reply_card > .reply_time {
  justify-self: flex-end;
}
